nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: #b2d1ff;
    color: black;
    text-align: center;
}

aside ul {
    text-align: left;
}

aside img {
    width: 200px; /*300px it's better for this picture*/
    height: auto;
}

footer {
    margin-top: 50px;
    border-top: 1px solid black;
    text-align: center;
}